---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import { strapiClient } from "../clients/strapi";
import Spot from '../components/Spot.astro'

export async function getStaticPaths() {
    const collection = strapiClient.collection('pages')

    const strapiPages = await collection.find({
        populate: {
            Content: {
                populate: '*',
                on: {
                    "spots.hero": {
                        populate: '*',
                    },
                    "spots.text-and-image": {
                        populate: '*',
                    },
                    "spots.cta-banner": {
                        populate: '*',
                    },
                    "spots.unique-selling-points": {
                        populate: '*',
                    },
                    "spots.fact": {
                        populate: '*',
                    },
                    "spots.faq": {
                        populate: '*',
                    }
                },
            },
            SEO: {
                populate: '*',
            },
        }
    });

    return strapiPages.data.map(({ Slug, Title, Content, SEO }) => {
        return {
            params: { slug: Slug },
            props: { title: Title, content: Content, seo: SEO },
        };
    });
}

const { title, content, seo } = Astro.props;
---

<Layout title={title} seo={seo}>
    <div class="spots">
        {content.map((spot: any, idx: number) => (
            <Spot spot={spot} key={idx} />
        ))}
    </div>
</Layout>
