---
import logo from '../assets/logo.png';
---
<div class="p-12 mt-5 p-5 md:p-0">
    <div class="container mx-auto p-2 flex flex-col md:flex-row justify-between">
        <div class="flex flex-row justify-center">
            <img src={logo.src} alt="Hoven jagtforening" />
        </div>
        <div class="flex flex-row items-center grow my-5 md:my-0">
            <ul class="flex md:flex-row flex-col items-center justify-center w-full">
                <li class="mx-5 hover:underline underline-offset-2 "><a href="#">Hello</a></li>
                <li class="mx-5 hover:underline underline-offset-2"><a href="#">From</a></li>
                <li class="mx-5 hover:underline underline-offset-2"><a href="#">The</a></li>
                <li class="mx-5 hover:underline underline-offset-2"><a href="#">Other</a></li>
                <li class="mx-5 hover:underline underline-offset-2"><a href="#">Side</a></li>
            </ul>
        </div>
        <div class="flex flex-row md:flex-column items-center justify-center">
            <a class="rounded-sm bg-jagt hover:bg-jagt-500 py-2 px-4 text-white block" href="/">Bliv medlem</a>
        </div>
    </div>
</div>