---
import {StrapiBlocks} from "@sensinum/astro-strapi-blocks";
import { getBackgroundClasses } from '../../lib/background';
import type { SpotProps } from './types';

interface Props extends SpotProps {
    Text?: any
}

const { Text, Configuration } = Astro.props;

const backgroundClasses = getBackgroundClasses(Configuration?.Background);
---
<div class={backgroundClasses}>
    <div class="container mx-auto p-5 md:p-0">
        <div class="bg-jagt-100 w-full text-white p-12 rounded-md text-center">
            {<StrapiBlocks data={Text} theme={{
                extend: {
                    heading: {
                        h1: ["font-bold md:text-7xl text-4xl"],
                        h2: ["font-bold text-4xl mb-5"]
                    },
                    paragraph: {
                        link: ['rounded-sm uppercase font-bold bg-jagt hover:bg-jagt-500 py-4 px-8 text-white inline-block']
                    }
                }
            }} />}
        </div>
    </div>
</div>