---
import { getImage } from "astro:assets";
import { StrapiBlocks } from '@sensinum/astro-strapi-blocks';
const { Text, Background } = Astro.props;

const CMS_PATH = import.meta.env.PUBLIC_CMS_PATH

const astroImage = Background ? await getImage({
    src: CMS_PATH + Background.url,
    width: 1920,
    height: 1080,
    format: 'webp',
    quality: 80,
    alt: Background.alternativeText ? Background.alternativeText : "",
}): undefined;
---

<div class="container mx-auto mb-12 p-5 md:p-0">
    <div class="w-full px-12
     flex
     rounded-xl
     p-10
     bg-jagt-100 min-h-160 bg-center bg-cover bg-no-repeat"
    style={astroImage ? `background-image: url('${astroImage.src}');` : ''}>
        <div class="flex justify-center flex-col md:w-2/4">
            <div class="text-white text-lg mt-4">
                {<StrapiBlocks data={Text} theme={{
                    extend: {
                        heading: {
                            h1: ["uppercase text-white font-bold md:text-7xl text-4xl"]
                        },
                        paragraph: {
                            link: ['rounded-sm uppercase font-bold bg-jagt hover:bg-jagt-500 py-4 px-8 text-white inline-block']
                        }
                    }
                }} />}
            </div>
        </div>
    </div>
</div>

