---
import { Image } from 'astro:assets';

interface Props {
    reverse?: boolean;
}

const { reverse } = Astro.props;
---


<div class="container mx-auto mb-12 p-5 xs:p-0">
    <div class={`flex flex-col-reverse justify-between ${reverse ? 'md:flex-row-reverse' : 'md:flex-row'}`}>
        <div class="md:w-1/2 flex flex-col justify-center md:p-5 py-5 max-w-xl">
            <h2 class="font-bold text-4xl mb-5">Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis culpa eaque eos et natus nulla numquam. Animi architecto atque cum cupiditate iste, nisi perspiciatis quas quod rem soluta ut vel.</p>
            <div class="mt-8">
                <a href="#" class="rounded-sm uppercase font-bold bg-jagt hover:bg-jagt-500 py-4 px-8 text-white">Læs mere</a>
            </div>
        </div>
        <div class="md:w-1/2 flex flex-col justify-center"><Image class="rounded-2xl" width={2670} height={1780} src="https://images.unsplash.com/photo-1542997830-49fc838e4c61?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Hello" /></div>
    </div>
</div>