---
import type { SpotProps } from "./types";
import {getBackgroundClasses} from "../../lib/background";

interface UspItem  {
    Title?: string;
    Description?: string;
    Icon?: string;
}

interface Props extends SpotProps {
    Text?: any[]
    USPs?: UspItem[];
}

const { Text, USPs, Configuration } = Astro.props as Props;
console.log(USPs);
const backgroundClasses = getBackgroundClasses(Configuration?.Background);
---
<div class={backgroundClasses}>
    <div class="container mx-auto">
        <h1>Hej fra USP</h1>
    </div>
</div>