---
import Header from "../components/Header";
import logo from '../assets/logo.png';
import Hero from "../components/spots/Hero.astro";

const pathname = Astro.url.pathname;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="container mx-auto p-2 flex flex-row justify-between">
			<img src={logo.src} />
			<Header client:idle currentPath={pathname}/>
			<div class="flex flex-column items-center">
				<a class="rounded-sm bg-jagt hover:bg-jagt-500 py-2 px-4 text-white block" href="/">Tilmeld</a>
			</div>
		</div>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

</style>
